---
# Copyright (c) 2020 Cloudical Polska sp.z.o.o. and/or its affiliates.
loadbalancer_public_subnet_egress_security_rules:
  - destination: "{{ all_cidr_block }}"
    protocol: "{{ all_protocol }}"
    
